/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** common **/
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}
.text-center {
    text-align: center !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full {
    width: 100%;
}
.col-half {
    width: 50%;
}
.col-three{
    width: 33.33333%;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.mt-32 {
    margin-top: 32px !important;
}
.btn:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}
.map-section img {
    width: 100%;

}


/** main **/


#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 46px;
    z-index: 1;
}
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;   
}
#nav li{
    display: inline-block;
    position: relative;
}
#nav > li > a {
    color: white;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    padding: 0px 24px;
    line-height: 46px;
    display: block;
}
#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn {   
    float: right;
    padding: 0px 24px;
}
#header .search-btn:hover {
    background-color: red;
    cursor: pointer;
}
#header .mobile-menu-btn:hover  {
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon {
    color: black;
}
#header .menu-icon,
#header .search-icon{
    color: white;
    font-size: 20px;
    line-height: 46px;
}

#nav > li:hover > a ,
#nav .subnav li:hover {
    color: black;
    background-color: grey;
    display: block;
    cursor: pointer;
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 135px;
    display: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down {
    font-size: 14px;
}

#slider{
   position: relative; 
   margin-top: 46px;
   padding-top: 50%;
   background: url('../img/Slider/chicago.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 48px;
    width: 100%;
    color: white;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}
#slider .text-description{
    font-size: 15px;
    text-shadow: 0 0 2px black;
}


#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 16px 112px;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}
#content .section-sub-heading{
    text-align: center;
    font-style: italic;
    font-size: 15px;
    margin-top: 25px;
    opacity: 0.5;
}
#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.4;
    text-align: justify;
}
#content .member-list {
    margin-top: 32px;
}

#content .member-name {
    font-size: 15px;
}
#content .member-list img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

#content .tour-selection {
    background-color: black; 
}
.ticket-list {
    list-style-type: none;
    background-color: white;
    margin-top: 40px;
}
.ticket-list li {
    font-size: 15px;
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.ticket-list .sold-out{
    color: white;
    background-color: red;
    padding: 3px 4px;
    margin-left: 16px;
}
.ticket-list .quantity {
    float: right;
    color: white;
    height: 24px;
    width: 24px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

.place-list{
    margin-top: 16px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-body  {
    color: black ;
    background-color: white;
    font-size: 15px;
    padding: 16px;
    text-align: justify;
}
.place-heading{
    font-weight: 600;
    font-size: 15px;;
}
.place-time{
    margin-top: 15px;
    color: #757575;

}
.place-description{
    margin-top: 15px;
    line-height: 1.4;

}
.place-buy-btn{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 12px 16px;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    border: none;
}


.contact-content {
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info a {
    color: blue;
    opacity: 0.8;
}
.contact-info a:hover {
    opacity: 1;
}
.contact-info i {
    display: inline-block;
    width: 30px;
}
.contact-form {
    font-size: 15px;
}
.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit-btn {
    float: right;
    background-color: black;
    color: white;
    font-size: 16px;
    border:  none;
    padding: 10px 16px;
    -webkit-appearance: none;
}


#footer{
    padding: 64px 16px;
    text-align: center;

}
#footer .social-list {
    font-size: 24px;
}
#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .social-list a:hover {
    opacity: 0.6;
}
#footer p {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer p a {
    color: rgba(0, 0, 0, 0.6);
}



.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modalFadein ease 0.4s;
}
.modal-close {
    position: absolute;
    right: 0;
    top:0;
    color: white;
    padding: 12px;
}
.modal-close:hover {
    cursor: pointer;
    color: black;
    opacity: 0.8;
}
.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.modal-header i{
    margin-right: 16px;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font: 15px;
    margin-bottom: 12px;
    color: black;

}
.modal-input {
    padding: 10px;
    width: 100%;
    border: 1px solid;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background-color: #009688;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    width: 100%;
    padding: 16px;
    border: none;   
}
#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modal-footer{
    padding: 16px 16px 20px;
    text-align: right;
    color: black;
}
.modal-footer a{
    color: #009688;
}

@keyframes modalFadein{
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}